@use "./tokens.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font: tokens.$font-default;
  margin-block: 0;
  margin-inline: 1rem;
}

a {
  color: black;
  text-decoration: underline;
}

h1 {
  font: tokens.$font-heading-l;
  margin-block-start: 4rem;
}

h2 {
  color: tokens.$color-accent;
  font: tokens.$font-heading-m;
  margin-block-start: 2rem;
  margin-block-end: 0.5rem;
}

@supports (background-clip: text) {
  h2 {
    background: linear-gradient(
      160deg,
      rgba(244, 0, 103, 1) 0%,
      rgba(9, 9, 121, 1) 36%,
      rgba(255, 0, 245, 1) 61%,
      rgba(255, 0, 0, 1) 100%
    );
    background-attachment: fixed;
    background-clip: text;
    color: transparent;
  }
}

h3 {
  font: tokens.$font-heading-s;
  margin-block-start: 2rem;
  margin-block-end: 0.25rem;
}

h4 {
  font: tokens.$font-heading-xs;
  margin-block-start: 2rem;
  margin-block-end: 0.75rem;
}

p {
  margin-block-start: 0.75rem;
  margin-block-end: 1.25rem;
}

ul {
  margin-block-start: 0.5rem;
  margin-block-end: 2rem;
  padding-inline-start: 2rem;
}

// li {
//   margin-block: 0.5rem;
//   padding-inline-start: 0.5rem;
// }

h2:first-child {
  margin-block-start: 0.5rem;
}

h3:first-child,
h2 + h3 {
  margin-block-start: 0;
}
