@use "./tokens.scss";
@use "./global.scss";

main {
  max-width: 80rem;
}

aside {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem 2rem;
}

aside h3 {
  font: tokens.$font-heading-xs;
}

div.intro {
  margin-block-start: 0.5rem;
  margin-block-end: 2rem;

  p {
    margin-block: 0;
    color: tokens.$color-accent;

    @supports (background-clip: text) {
      background: linear-gradient(45deg, blue, red);
      background-attachment: fixed;
      background-clip: text;
      color: transparent;
    }
  }

  p:not(:last-child) {
    font-weight: 900;
  }
}

section.large {
  margin-block-end: 4rem;

  .title,
  .title h3 {
    font: tokens.$font-heading-xs;
  }

  .title dt {
    @include tokens.visually-hidden;
  }

  .title dd {
    display: list-item;
    list-style: disc;
    margin-left: 2rem;
  }
}

@media (min-width: 40rem) {
  section.large:has(.title) {
    display: grid;
    grid-template: "title main" / 15rem 1fr;
    gap: 1rem;
  }

  div p:first-child {
    margin-block-start: 0;
  }
}

@media (min-width: 60rem) {
  main {
    display: grid;
    grid-template:
      "header header"
      "intro intro"
      "main aside"
      / 2fr 1fr;
    gap: 0 2rem;
  }

  h1 {
    grid-area: header;
  }

  div.intro {
    grid-area: intro;
  }

  article {
    grid-area: main;
  }

  aside {
    grid-area: aside;
    padding-inline-start: 2rem;
    position: relative;
  }

  aside::before {
    content: "";
    position: absolute;
    background: tokens.$color-accent-gradient;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
  }
}

.attachment {
  margin-block: 10rem;
  background-image: url(/marble.jpg);
  background-attachment: fixed;
  padding: 2rem;

  > div {
    margin-block: -5rem;
    border: black solid 5px;
    min-height: 10rem;
  }

  blockquote {
    font: tokens.$font-quote;
    position: relative;
  }

  .short {
    position: absolute;
  }

  span {
    background-attachment: fixed;
    background-clip: text;
    color: transparent;
  }

  div.short span {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 45%,
      rgba(0, 0, 0, 0) 55%
    );
  }

  div:is(:not(.short)) > span {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 45%,
      rgba(0, 0, 0, 0) 55%
    );
  }
}

footer {
  min-height: 100vh;
}
