$font-serif: "Ibarra real Nova", serif;
$font-sans: Inter, sans-serif;
$font-heading-l: 700 2rem / 2.5rem $font-sans;
$font-heading-m: 800 1.5rem / 2rem $font-sans;
$font-heading-s: 600 1.25rem / 1.75rem $font-sans;
$font-heading-xs: 600 1rem / 1.5rem $font-sans;
$font-default: 400 1.075rem / 1.5rem $font-serif;

$color-accent: rgb(221, 116, 50);
$color-accent-gradient: linear-gradient(
  160deg,
  rgba(244, 0, 103, 1) 0%,
  rgba(9, 9, 121, 1) 36%,
  rgba(255, 0, 245, 1) 61%,
  rgba(255, 0, 0, 1) 100%
);

@mixin visually-hidden {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}
