$font-serif: "Ibarra real Nova", serif;
$font-sans: Inter, sans-serif;
$font-heading-l: 800 2rem / 2.5rem $font-sans;
$font-heading-m: 800 1.5rem / 2rem $font-sans;
$font-heading-s: 600 1.25rem / 1.75rem $font-sans;
$font-heading-xs: 600 1rem / 1.5rem $font-sans;
$font-default: 400 1rem / 1.5rem $font-serif;

$color-accent: rgb(221, 116, 50);

@mixin visually-hidden {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}
