---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("1991-03-22T04:32:51.819Z")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    I work as a developer with focus on UX. I like design, mechanical keyboards
    and I take sustainability and inclusion seriously
  </p>
</Layout>
