---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <h1>saito.style</h1>
      <p>Hi! I am Carlos Saito</p>
      <p>
        I work as a developer at KTH (Royal Institute of Technology) in
        Stockholm
      </p>
      <p>
        I was hired initially as “Full-stack developer” and I’m pivoting
        recently to a more “UX engineer” role
      </p>
    </main>
  </body>
</html>
