---
import "../styles/index.scss";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hi! My name is Carlos</h1>
      <div class="intro">
        <p>
          I work as software developer at <a href="https://kth.se">
            KTH Royal Institute of Technology
          </a>
        </p>
      </div>
      <article>
        <section class="large">
          <div class="title">
            This is just my personal website. I am not trying to impress anyone.
            Just creating something I can be proud and happy with
          </div>
          <div>
            <p>
              Actually more happy than proud. If you want to find me somewhere
              else, you can do it:
            </p>
            <ul>
              <li><a href="https://github.com/exacs">Github</a></li>
              <li>
                <a href="https://www.linkedin.com/in/saitocarlos/">Linkedin</a>
              </li>
            </ul>
          </div>
        </section>
        <section class="large">
          <div class="title">
            <p>
              But this site should also show what I care about. And what I do as
              a web developer when following my own principles
            </p>
            <ul>
              <li>Transparency</li>
              <li>Accessibility</li>
              <li>Sustainability</li>
              <li>Usability</li>
              <li>Humanity</li>
              <li>Inclusion</li>
              <li>Simplicity</li>
            </ul>
          </div>
          <div>
            <p>
              Transparency: this page will not promise you anything that cannot
              do. That is easy since this is just a personal website
            </p>
            <p>
              Accessibility: every step in this process is thought with
              accessibility in mind. The colors, the shapes, the sizes, the HTML
              tags and attributes, the CSS, the JavaScript. And of course this
              site complies with WCAG (but that is a consequence of
              accessibility, not it’s cause)
            </p>
            <p>
              Sustainability: this page delivers the least possible amount of
              code to you, including HTML, CSS, JS, images and so on. The “big
              offenders” are compressed or removed
            </p>
            <p>
              Humanity: this page respects you, your time and your privacy. It
              does not show you any cookie banner because it does not store any
              tracking cookie in your browser
            </p>
            <p>
              Inclusion: I embrace my quirkiness. I am a geek, a nerd. I am cis
              man but don’t hide my feminine side. I accept my weakness, my
              kinkiness and don’t hide it
            </p>
            <p>
              Simplicity: the code is simple, easy to maintain, easy to look at.
              It does not add any incomprehensible abstraction
            </p>
          </div>
        </section>
      </article>
      <aside>
        <section>
          <h2>
            sometimes I have short thoughts that I don’t know what to do with
            them
          </h2>
          <h3>Doing a “accessibility report” is boring</h3>
          <p>
            Of course it is. Introduce accessibility in every step of the
            process is not
          </p>
          <h3>
            Are we actually “delivering fast” or is it an excuse for making it
            worse?
          </h3>
          <p>
            Thinking about accessibility in every step, never as an afterthougt
          </p>
          <h3>
            It is good to have principles but it is more important to understand
            what they mean
          </h3>
          <ul>
            <li>
              Martin Fowler (?) coined the term “microservice” but he never said
              “they are awesome, more microservices the merrier”
            </li>
            <li>
              Knuth talked about “premature optimization” but never meant “you
              should not optimize” or “you should postpone optimizations”
            </li>
            <li>
              You should prioritize “code over documentation” according to the
              Agile Manifesto, but they never say “it’s ok to have bad
              documentation”
            </li>
          </ul>
        </section>
        <section>
          <h2>sometimes those thoughts are even shorter</h2>
          <ul>
            <li>
              For this site, I’ve chosen the font families Ibarra Real Nova and
              Inter. The former is designed by a Spanish typographer; the latter
              by a Swedish one.
            </li>
            <li>
              We should use the right tool for the right problem, not trying to
              fit every problem in a single solution
            </li>
            <li>
              Sometimes our intuition says “hmm... nah... this thing looks an
              overkill...”. In those situations I tend to STOP.
            </li>
          </ul>
        </section>
      </aside>
    </main>
  </body>
</html>
