---
import "./index.scss";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hi! My name is Carlos</h1>
      <p>I work as software developer at KTH Royal Institute of Technology</p>
      <p>
        This site is under construction. Meanwhile, you can look at my <a
          href="/resume">résumé</a
        >.
      </p>
      <p>You can also find me in:</p>
      <ul>
        <li><a href="https://github.com/exacs">Github</a></li>
        <li><a href="https://www.linkedin.com/in/saitocarlos/">Linkedin</a></li>
      </ul>
    </main>
  </body>
</html>
