---
import "../styles/index.scss";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Résumé</h1>
      <div class="intro">
        <p>Hi! I am Carlos Saito,</p>
        <p>
          work as a developer at <a href="https://kth.se"
            >KTH (Royal Institute of Technology)</a
          > in Stockholm;
        </p>
        <p>
          was hired initially as “Full-stack developer” and am pivoting recently
          to a more “UX engineer” role
        </p>
      </div>
      <article>
        <h2>Projects at KTH (2018-2024)</h2>
        <section class="large">
          <div class="title">
            <h3>Design system "KTH Style" and new visual identity</h3>
            <dl>
              <dt>Role</dt>
              <dd>UX enginner</dd>
              <dt>Date</dt>
              <dd>2023-2024</dd>
            </dl>
          </div>
          <div>
            <p>
              <a
                href="https://intra.kth.se/aktuellt/nyheter/en-mer-anvandarvanlig-grafisk-profil-1.1281415"
                >KTH has a new visual identity.</a
              >
               The web team at IT department was in charge of leading the change
              for the website and applications.
            </p>
            <p>
              Design and prototype: co-organised design workshops with UX
              designers, copywriters and stakeholders and understand problems to
              solve, their needs and their opinions; prototyped and designed the
              first pieces of the new identity (the website header).
            </p>
            <p>
              Implementation: created a new version of the <a
                href="https://github.com/kth/style"
                >KTH Design System "KTH Style"</a
              > and helped other teams to implement the new design
            </p>
            <h4>Challenges</h4>
            <ul>
              <li>
                The new version of KTH Style is no longer based on Bootstrap
              </li>
              <li>
                Create a library retro-compatible with the old version so teams
                can upgrade in small steps
              </li>
            </ul>
            <h4>Design principles</h4>
            <ul>
              <li>
                Modular: instead of importing the whole library (including parts
                outside of developers control), developers choose what parts to
                import
              </li>
              <li>
                Simple: the new version has less code and does not create unused
                abstractions
              </li>
              <li>Systematic: everything is defined as tokens (variables)</li>
            </ul>
          </div>
        </section>
        <section class="large">
          <div class="title">
            <h3>KTH personal menu</h3>
            <dl>
              <dt>Role</dt>
              <dd>UX enginner</dd>
              <dt>Years</dt>
              <dd>2022-2023</dd>
            </dl>
          </div>
          <div>
            <p>
              KTH website is unique in a sense that doesn’t have any “student
              portal”. Instead, what students, teachers and staff see when they
              log in is what is called <a
                href="https://intra.kth.se/it/intro/personliga-menyn/utvecklingsprojekt-nya-personliga-menyn-1.1207009"
                >the “Personal Menu”</a
              >. The personal menu is a collection of shortcuts tailored for the
              user. If you are a student, you get links to your courses and your
              qualifications; if you are a teacher, you have access to course
              management tools.
            </p>
            <p>
              I’ve worked as a UX engineer in a cross-functional team composed
              by UX experts, developers and stakeholders. My starting point was
              a User Research and a concept, which I used to elaborate
              prototypes, conduct interviews with users and performing usability
              tests.
            </p>
            <p>
              We introduced TypeScript as a main language in the team and I
              helped developers transitioning from JavaScript to TypeScript
            </p>
            <p>
              What we delivered: a set of APIs that power-users have access, the
              menu itself; ideas and prototypes for future versions of the
              project.
            </p>
            <p>
              See also: <a href="https://github.com/kth/kpm"
                >the code for "KPM" in Github</a
              >
            </p>
          </div>
        </section>
        <section class="large">
          <div class="title">
            <h3>KTH Import Exams</h3>
            <dl>
              <dt>Role</dt>
              <dd>Full-stack developer</dd>
              <dt>Years</dt>
              <dd>2021-2022</dd>
            </dl>
          </div>
          <div>
            <p>
              Teachers and students at KTH used a system called Canvas for their
              courses: teachers uploaded their course material and students
              submitted their homework. Canvas had an intern PDF editor tool
              that teachers could use to make annotations in students
              submissions so we had an idea: make a tool to import paper exams
              into Canvas so teachers could annotate and grade paper exams
              digitally.
            </p>
            <p>
              We’ve learned how the scanning process work at KTH; what are the
              people and systems involved in such process. We worked with other
              teams by communicating the failures in the process and the system.
            </p>
            <p>
              What we delivered: <a
                href="https://intra.kth.se/utbildning/systemstod/examination/import-exams/tentor-till-canvas-1.1085000"
                >an application for importing exams to Canvas</a
              >
            </p>
            <p>
              See also: <a href="https://github.com/kth/scanned-exams"
                >the code for "KTH Import Exams" in Github</a
              >
            </p>
          </div>
        </section>
        <section class="large">
          <div class="title">
            <h3>KTH and e-learning during the COVID-19 pandemic</h3>
            <dl>
              <dt>Role</dt>
              <dd>Full-stack developer</dd>
              <dt>Years</dt>
              <dd>2020-2021</dd>
            </dl>
          </div>
          <div>
            <p>
              During the COVID-19 pandemic, KTH was forced to close its campus
              and become fully digital. We, e-learning, the responsible for the
              “digital learning environment” of the institution, became the
              central and most important team at KTH. We developed <a
                href="https://intra.kth.se/utbildning/examination/utforma-genomfora/examinationsrum-i-canvas-1.1014589"
                >tools to support digital examination</a
              >, we adapted our workflows and schedules. E-learning owner <a
                href="https://intra.kth.se/aktuellt/nyheter/han-prisas-for-omstallningen-av-utbildningen-under-pandemin-1.1044222"
                >Stefan Stenbom obtained the KTH pedagogical prize for it</a
              >
            </p>
            <p>
              See also: <a href="https://github.com/kth/lms-activity-rooms/"
                >the code for "LMS Activity Rooms" in Github</a
              >
            </p>
          </div>
        </section>
        <section class="large">
          <div class="title">
            <h3>Integration with Canvas</h3>
            <dl>
              <dt>Role</dt>
              <dd>Full-stack developer</dd>
              <dt>Years</dt>
              <dd>2018-2020</dd>
            </dl>
          </div>
          <div>
            <p>
              During these years I worked creating and maintaining systems that
              sync data from internal databases at KTH and a learning management
              system called Canvas. We also took the assignment to shut down an
              old database and move its content to a safe, GDPR-compliant
              system.
            </p>
          </div>
        </section>
      </article>
      <aside>
        <section>
          <h2>past work experience</h2>
          <h3>2017-2018. COAM (Official College of Architects of Madrid)</h3>
          <p>
            Developer of “Revista Arquitectura”, the web of the COAM’s magazine.
            Adapt the paper magazine designed by architects into a web; develop
            the whole website (front-end and back-end) from scratch to the
            deployment and maintenance.
          </p>
          <h3>2017. Part-time full-stack developer trainee</h3>
          <p>
            Developer of the “Ontag” project, an open-source tool for
            journalists aimed to give answers to relevant questions through
            annotations on news articles. Part of a multidisciplinary and
            international team formed by journalists and sociologists of Common
            Action Forum and computer engineers of the Ontology Engineering
            Group.
          </p>
        </section>
        <section>
          <h2>more things about me</h2>
          <h3>education</h3>
          <ul>
            <li>
              2013/sep > 2018/jun. Computer Engineer Undergraduate at Technical
              University of Madrid.
            </li>
            <li>
              2018/feb > 2018/jun. Degree Project in Computer Science during an
              Erasmus exchange at Uppsala University.
            </li>
          </ul>

          <h3>mini-projects</h3>
          <ul>
            <li>
              2017/sep > 2018/jun. “Fika” host at Östgöta student Nation in
              Uppsala.
            </li>
            <li>
              2016/oct. Volunteer at Medialab Prado working on Liqen Project
            </li>
            <li>
              2016/mar. First prize in a web-programming hackathon organized by
              Horbito Inc.
            </li>
          </ul>
        </section>
      </aside>
    </main>
  </body>
</html>
