---
import styles from "./Header.module.scss";
---

<header>
  <div class={styles.logo}>saito.style</div>
  <p>Hi! I am Carlos Saito,</p>
  <p>
    work as a developer at KTH (Royal Institute of Technology) in Stockholm;
  </p>
  <p>
    was hired initially as “Full-stack developer” and am pivoting recently to a
    more “UX engineer” role
  </p>
  <nav>
    <a href="/resume">resumé <span>(open for hiring!)</span></a>
  </nav>
</header>
