@use "../styles/tokens.scss";

header {
  padding-block-end: 1rem;
  margin-block-end: 2rem;
}

nav {
  font: tokens.$font-heading-xs;
  display: flex;
}

nav a {
  &[aria-current="page"] {
    color: white;
    background: tokens.$color-accent-gradient;
  }
}

.logo {
  display: inline-block;
  color: unset;
  font: tokens.$font-heading-l;
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.1rem;
  margin-block-end: 0.5rem;
}
