---
import styles from "./Header.module.scss";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <a href="/" class={styles.logo}>saito.style</a>
  <nav>
    <HeaderLink href="/">home</HeaderLink>
    <HeaderLink href="/resume">résumé</HeaderLink>
  </nav>
</header>
