---
import styles from "./Header.module.scss";
const url = Astro.url;
---

<header>
  <a href="/" class={styles.logo}>saito.style</a>
  <p>Hi! I am Carlos Saito,</p>
  <p>
    work as a developer at KTH (Royal Institute of Technology) in Stockholm;
  </p>
  <p>
    was hired initially as “Full-stack developer” and am pivoting recently to a
    more “UX engineer” role
  </p>
  <nav>
    <a
      href="/resume"
      aria-current={url.pathname === "/resume" ? "page" : "false"}>resumé</a
    >
    <!-- <a href="/blog">blog</a> -->
    <!-- <a href="/blog"></a> -->
  </nav>
</header>
