---
import styles from "./Header.module.scss";
const url = Astro.url;
---

<header>
  <a href="/" class={styles.logo}>saito.style</a>
  <nav>
    <a
      href="/resume"
      aria-current={url.pathname === "/resume" ? "page" : "false"}>résumé</a
    >
    <!-- <a href="/blog">blog</a> -->
    <!-- <a href="/blog"></a> -->
  </nav>
</header>
